.klxm_text_container {
}
.klxm_bild {
}
.klxm_pleft {
    float: left;
    margin-right: 1.8em;
    margin-bottom: 0.5em;
	margin-top: 0.4em;
}

.klxm_pright {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.4em;
}
.klxm_text {
	font-size: 1em;
	text-align: left;
}

.klxm_text_modul_bild_klein {
	width: 25%;
}

.klxm_text_modul_bild_mittel {
	width: 33%;
}

.klxm_text_modul_bild_gross {
	width: 50%;
}
.klxm_text_modul_bild_volle_breite {
	width: 100%;	
}
.klxm_bild p {
	font-size: 0.7em;	
	text-align: center;
}
.klxm_bildunterschrift_verstecken {
	display: none;
}