/* barlow-condensed-100 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/barlow-condensed-v1-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Thin'), local('BarlowCondensed-Thin'),
       url('fonts/barlow-condensed-v1-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-100.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-100.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-100italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/barlow-condensed-v1-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Thin Italic'), local('BarlowCondensed-ThinItalic'),
       url('fonts/barlow-condensed-v1-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-100italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-200 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/barlow-condensed-v1-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed ExtraLight'), local('BarlowCondensed-ExtraLight'),
       url('fonts/barlow-condensed-v1-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-200.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-200.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-200italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 200;
  src: url('fonts/barlow-condensed-v1-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed ExtraLight Italic'), local('BarlowCondensed-ExtraLightItalic'),
       url('fonts/barlow-condensed-v1-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-200italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-300 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/barlow-condensed-v1-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Light'), local('BarlowCondensed-Light'),
       url('fonts/barlow-condensed-v1-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-300.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-300italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/barlow-condensed-v1-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Light Italic'), local('BarlowCondensed-LightItalic'),
       url('fonts/barlow-condensed-v1-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-300italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/barlow-condensed-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
       url('fonts/barlow-condensed-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/barlow-condensed-v1-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Italic'), local('BarlowCondensed-Italic'),
       url('fonts/barlow-condensed-v1-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-500 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/barlow-condensed-v1-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Medium'), local('BarlowCondensed-Medium'),
       url('fonts/barlow-condensed-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-500.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-500italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/barlow-condensed-v1-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Medium Italic'), local('BarlowCondensed-MediumItalic'),
       url('fonts/barlow-condensed-v1-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-500italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-600 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/barlow-condensed-v1-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed SemiBold'), local('BarlowCondensed-SemiBold'),
       url('fonts/barlow-condensed-v1-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-600.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-600italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/barlow-condensed-v1-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed SemiBold Italic'), local('BarlowCondensed-SemiBoldItalic'),
       url('fonts/barlow-condensed-v1-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-600italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/barlow-condensed-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Bold'), local('BarlowCondensed-Bold'),
       url('fonts/barlow-condensed-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-700.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-700italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/barlow-condensed-v1-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Bold Italic'), local('BarlowCondensed-BoldItalic'),
       url('fonts/barlow-condensed-v1-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-700italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-800 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/barlow-condensed-v1-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed ExtraBold'), local('BarlowCondensed-ExtraBold'),
       url('fonts/barlow-condensed-v1-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-800.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-800italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/barlow-condensed-v1-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed ExtraBold Italic'), local('BarlowCondensed-ExtraBoldItalic'),
       url('fonts/barlow-condensed-v1-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-800italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-900 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/barlow-condensed-v1-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Black'), local('BarlowCondensed-Black'),
       url('fonts/barlow-condensed-v1-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-900.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-900italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/barlow-condensed-v1-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Black Italic'), local('BarlowCondensed-BlackItalic'),
       url('fonts/barlow-condensed-v1-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-condensed-v1-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-condensed-v1-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-condensed-v1-latin-900italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}